$transitionSpeed: 0.5s;
$sidebarWidth: 12rem;

body {
  background-color: #282c34;
  color: #FFF;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
}

#sidebar {
  background-color: #373c46;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: $transitionSpeed;
}

.sidebar{
  &-closed {
    width: 0;
  }
  &-open {
    width: $sidebarWidth;
  }
}

#userlist {
  padding: 1rem;
  position: absolute;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin: .5rem auto;
    }
  }

  &-item {
    display: block;
    height: 2rem;
    width: 8rem;
  }

}

#main {
  overflow-y: hidden;
  transition: margin-left $transitionSpeed;
}

.mainwidth {
  &-open{
    width: calc(100vw - 16rem);
  }

  &-closed{
    width: calc(100vw - 2rem);
  }
}

.slider {
  background-color: #30343d;
  display: block;
  height: 100%;
  left: 0;
  padding-top: 50vh;
  position: fixed;
  text-align: center;
  top: 0;
  transition: $transitionSpeed;
  width: 1rem;
  z-index: 99;

  &-open {
    margin-left: $sidebarWidth;
  }

  &-closed {
    margin-left: 0;
  }

}

#messages {
  position: absolute;
  border: 1px solid blue;
  bottom: 0;
  padding: 2rem;
  height: 100%;
  overflow-x: hidden; 
  overflow-y: scroll;
  width: 100%;
}

#chatinput {
  background-color: #373c46;
  bottom: 0;
  margin-left: 1rem;
  overflow-x: hidden;
  //padding: 0 1rem 1.5rem 1rem; 
  position: absolute;

  &-form {
    display: flex;
  }
}

.chatinput{
  &-wrapper{
    width: 100%;
    padding: 1rem;

  }
  &-input {
    background-color: #3f4450;
    color: #FFF;
    font-size: 1.0rem;
    padding: .2rem;
    border: none;
    height: 2.0rem;
    //width: 100%;
  }
}


.App {
  text-align: center;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
